<svg:g x="0"
       y="0"
       xmlns:xhtml="http://www.w3.org/1999/xhtml"
       (mousedown)="this.onMousedown($event)">
  <polygon vector-effect="non-scaling-stroke"
           fill="#f00"
           stroke="#f00"
           stroke-width="1"
           attr.transform="translate({{tipPosition.x}},{{tipPosition.y}}) scale({{scale}})"
           points="-7,-2 -7,2 0,0">
  </polygon>
  <polyline vector-effect="non-scaling-stroke"
            fill="none"
            stroke="#f00"
            stroke-width="1"
            attr.points="{{getAnchorPointsString()}}">
  </polyline>
</svg:g>
