<svg:g x="0"
       y="0"
       attr.transform="translate({{position.x}},{{position.y}}) scale({{scale}})"
       xmlns:xhtml="http://www.w3.org/1999/xhtml"
       (mousedown)="this.onMousedown($event)">
  <defs>
    <filter id="drop-shadow">
      <feGaussianBlur in="SourceAlpha" stdDeviation="1.2" />
      <feOffset dx="1" dy="1" />
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.4"/>
      </feComponentTransfer>
      <feMerge>
        <feMergeNode />
        <feMergeNode in="SourceGraphic" />
      </feMerge>
    </filter>
  </defs>
  <rect vector-effect="non-scaling-stroke"
        fill="#fff"
        attr.stroke="{{card.selected ? '#23A9F6' : '#ccc'}}"
        attr.stroke-width="{{card.selected ? 2: 1}}"
        x="0"
        y="0"
        style="filter:url(#drop-shadow)"
        attr.rx="{{cornerRadius}}"
        attr.ry="{{cornerRadius}}"
        attr.width="{{size.width}}"
        attr.height="{{size.height}}">
  </rect>
  <foreignObject x="0"
                 y="0"
                 attr.width="{{size.width}}"
                 attr.height="{{size.height}}">
    <xhtml:div class="textarea-container"
               [style.width] = "size.width + 'px'"
               [style.height] = "size.height + 'px'">
      <xhtml:textarea xmlns="http://www.w3.org/1999/xhtml"
                      #text
                      [style.width] = "size.width + 'px'"
                      [style.max-height] = "size.height + 'px'"
                      [style.border-radius] = "cornerRadius + 'px'"
                      [ngModel]="card.text"
                      (change)="card.text = text.value"
                      autosize></xhtml:textarea>
    </xhtml:div>
  </foreignObject>
</svg:g>
