.textarea-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

textarea {
  background-color: lightblue;
  border: none;
  resize: none;
  outline: none;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.textarea-caret {
  position: fixed;
  background-color: red;
  height: 16px;
  width: 1px;
  top: 0;
  left: 0;
}
