.textarea-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

textarea {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.15);
  border: none;
  resize: none;
  outline: none;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 300;
  max-height: 80px;
}
