:host {
    background-color: #455A64;
    color: rgba(255, 255, 255, 0.87);
    height: 48px;
    display: flex;
}

logo {
    background-color: #607D8B;
    flex: 0 0 60px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 26px;
    padding-top: 7px;
    text-align: center;
}

h1 {
    background-color: transparent;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1px;
    flex: 1;
    font-family: Roboto;
    padding-left: 15px;
}
