<home-header></home-header>

<home-content>
  <button *ngIf="!userLoggedIn"
          class="auth-button"
          (click)="authorize()">
    Log in with Google
  </button>

  <ul *ngIf="userLoggedIn">
    <!-- This li element is the first graph-preview in the grid/list that allows the user to create a new uxgraph -->
    <li>
      <new-app-graph-preview-header>Start a new app
      </new-app-graph-preview-header>
      <new-graph-button (click)="createNewGraph()">
        <uxg-graph-preview></uxg-graph-preview>
      </new-graph-button>
    </li>

    <!-- TODO(girum): Add a "loading" indicator when this list is loading. -->
    <li *ngFor="let graphPreview of graphPreviews">
      <a [routerLink]="['/graph', graphPreview.id]"
         [routerLinkActive]="['router-link-active']"
         [routerLinkActiveOptions]="{exact:true}">
        <uxg-graph-preview [name]="graphPreview.name"></uxg-graph-preview>
      </a>
    </li>
  </ul>
</home-content>