:host {
  display: flex;
  background-color: #f0f0f0;
  height: calc(100% - 48px);
  margin-top: 0;
  padding: 30px 40px;
}

.auth-button {
  align-self: center;
  margin: 0 auto;
  background-color: #607d8b;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

li {
  display: -moz-inline-stack;
  display: inline-block;
  width: 300px;
  min-height: 200px;
  vertical-align: top;
  margin: 20px;
  zoom: 1;
  text-align: left;
}

new-app-graph-preview-header {
  display: flex;
  margin-top: -28px;
  font-size: 15px;
  margin-bottom: 10px;
}
