:host {
  background-color: #ededed;
  height: 40px;
  z-index: 0;
  box-shadow: 0 1px 8px -1px #777;
  display: flex;
}

.vertical-line {
  background-color: #90a4ae;
  width: 1px;
  height: 100%;
}
