.textarea-container {
  display: flex;
  height: 100%;
  cursor: pointer;
}

textarea {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.55);
  margin-top: 16px;
  height: 40px;
  border: none;
  resize: none;
  outline: none;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 300;
  max-height: 80px;
  overflow: hidden;
}

.icon-strip {
  height: 24px;
  width: 118px;
  background-color: #eaeaea;
  margin-top: 135px;
  margin-left: 1px;
}

