<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- TODO(girum): Mm, should we embed our Google API client ID like this? -->
  <meta name="google-signin-client_id" content="458941249796-jfvnbelhroiit38vhe5d69av0jjnoi7b.apps.googleusercontent.com">

  <!-- TODO(girum): Remove Quickstart CSS Styles -->
  <link href="https://www.gstatic.com/realtime/quickstart-styles.css" rel="stylesheet" type="text/css"/>

  <!-- Load the Realtime JavaScript library. TODO(girum): Remove me? -->
  <script src="https://apis.google.com/js/api.js"></script>

  <!-- TODO(girum): Remove the Realtime Quickstart utility library -->
  <script src="https://www.gstatic.com/realtime/realtime-client-utils.js"></script>


  <link rel="icon"
        type="image/png"
        href="assets/logo.png">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

  <uxg-app>Loading...</uxg-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
    System.config(<%=
      JSON.stringify(SYSTEM_CONFIG, null, 2)
    %>)
  </script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
  </script>
  <% } %>

</body>
</html>
